<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />

    <script
      src="https://kit.fontawesome.com/4a9b76c21b.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/home.js" defer></script>
  </head>
  <body style="background-color: rgba(0, 0, 0, 0.05)">
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fab fa-accusoft"></i>
        <a href="">Node JS</a>
      </div>
      <ul class="navbar__menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Bookings</a></li>
      </ul>
      <ul class="navbar__icons">
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-facebook-f"></i></li>
      </ul>
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
    <main>
      <div class="main-content" style="max-width: 70%; margin: 30px auto">
        <h1
          style="
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            color: #555;
          "
        >
          List users Table
        </h1>
        <table
          class="table table-light table-hover"
          style="
            box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            overflow: hidden;
          "
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0;i<userInfo.length;i++) { %>
            <tr>
              <th scope="row"><%=userInfo[i].id  %></th>
              <td><%= userInfo[i].firstName %></td>
              <td><%= userInfo[i].lastName %></td>
              <td><%= userInfo[i].email %></td>
              <td><%= userInfo[i].address %></td>
              <td>
                <button type="button" class="btn btn-primary">Detail</button>
                <button type="button" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-danger">Remove</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
